<div class="p-8">
  <h1 class="uppercase text-3xl text-blue-400 text-center mb-8"> Actors </h1>
  <table class="mx-auto">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody class="flex">
      <% @actors.each do |actor| %>
          <tr class="flex flex-col mr-4">
            <td class="h-54" ><%= actor_avatar(actor) %></td>
            <td class="text-blue-400 uppercase text-center" ><%= link_to actor.name, actor %></td>
            <td class="mx-auto">
              <%= link_to 'Edit', edit_actor_path(actor), class: "text-blue-200 mb-8" %> |
              <%= link_to 'Destroy', actor, class: "text-blue-200 mb-8", method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <% if current_user_admin? %>
    <section class="text-center m-8">
      <%= link_to 'New Actor', new_actor_path, class: "btn-primary" %>
    </section>
  <% end %>
</div>