<div class="px-8 pt-6 pb-8 mb-4">
  <p>
    <%= actor_avatar(@actor) %>
  </p>

  <p class="text-white mt-4">
    <strong>Name:</strong>
    <%= @actor.name %>
  </p>

  <p class="text-white">
    <strong>Birth date:</strong>
    <%= @actor.birth_date.strftime("%d.%m.%Y") %>
  </p>

  <p class="text-white mb-4">
    <strong>Gender:</strong>
    <%= @actor.gender %>
  </p>

  <%= link_to 'Edit', edit_actor_path(@actor), class: "btn-primary" %> |
  <%= link_to 'Back', actors_path, class: "btn-primary" %>
</div>
