<div class="px-8 py-8 mb-4 text-white w-1/3">
  <%= form_with(model: movie, local: true, class: "flex flex-col") do |f| %>
    
  <%= render "shared/errors", object: movie %>
    
    <%= f.label :title %>
    <%= f.text_field :title, autofocus: true, class: "bg-transparent shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker mb-4" %>

    <%= f.label :rating %>
    <%= f.select :rating, Movie::RATINGS, prompt: "Pick one" %>

    <%= f.label :total_gross %>
    <%= f.number_field :total_gross, class: "bg-transparent shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker mb-4" %>

    <%= f.label :released_on %>
    <%= f.date_field :released_on, class: "bg-transparent shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker mb-4" %>

    <%= f.label :description %>
    <%= f.text_area :description, rows: 5, class: "bg-transparent shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker mb-4" %>

    <%= f.label :duration %>
    <%= f.text_field :duration, class: "bg-transparent shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker mb-4" %>

    <%= f.label :director %>
    <%= f.text_field :director, class: "bg-transparent shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker mb-4" %>

    <%= f.label :images %>
    <%= f.file_field :images, multiple: true, value: "Browse", class: "mb-4" %>

    <div class="flex flex-col">
      <%= f.collection_check_boxes(:genre_ids, Genre.all, :id, :name) do |b| %>
       <%= b.label(class:"mt-2") { b.check_box + b.text } %>
      <% end %>
    </div>

    <div class="text-center mt-4">
      <%= f.submit "Update Movie", class: "bg-gray-600 text-white py-2 px-4 rounded hover:bg-gray-700" %>
    </div>
  <% end %>
</div>