<div class="form-content">
  <h2 class="uppercase text-2xl text-blue-400">Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div>
      <%= f.label :email, class: "block text-white text-sm mt-4" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" %>
    </div>

    <div class="text-center">
      <%= f.submit "Send me reset password instructions", class: "bg-transparent text-blue-400 mb-2 text-xs italic hover:text-blue-300" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
