<h1> Actors </h1>
<% @movies.each do |movie| %>
  <section class="movie">
     <div class="image">
      <% if movie.images.size.positive? %>
        <%= image_tag(movie.thumbnail(0)) %>
      <% else %>
        <%= image_tag("default_movie_image.png") %>
      <% end %>
    </div>
    
    <div class="summary">
      <h2>
        <%= link_to movie.title, movie_path(id: movie.slug) %>
      </h2>
      <h3>
        <%= total_gross(movie) %>
      </h3>

      <div class="faves">
        <%= unfave_button(movie)%>
      </div>
      <p>
        <%= truncate(movie.description, length: 150, separator: ' ') %>
      </p>
    </div>
  </section>
<% end %>

<%= paginate @movies %>

<% if current_user_admin? %>
  <section class="admin">
    <%= link_to "Add New Movie", new_movie_path, class: "button" %>
  </section>
<% end %>
