<h1 class="ml-4 my-4 uppercase text-2xl text-blue-400"> Favourites </h1>
<% @movies.each do |movie| %>
  <section class="ml-4 mb-8 w-1/2 flex">
     <div class="mr-4">
      <% if movie.images.size.positive? %>
        <%= image_tag(movie.thumbnail(0)) %>
      <% else %>
        <%= image_tag("default_movie_image.png") %>
      <% end %>
    </div>
    
    <div class="text-white">
      <h2 class="uppercase text-blue-400 mb-2">
        <%= link_to movie.title, movie_path(id: movie.slug) %>
      </h2>
      <h3>
        <%= total_gross(movie) %>
      </h3>

      <div class="my-2">
        <%= unfave_button(movie)%>
      </div>
      <p>
        <%= truncate(movie.description, length: 150, separator: ' ') %>
      </p>
    </div>
  </section>
<% end %>

<%= paginate @movies %>

<% if current_user_admin? %>
  <section class="text-center">
    <%= link_to "Add New Movie", new_movie_path, class: "btn-primary" %>
  </section>
<% end %>
