<header>
  <nav class="flex items-center flex-wrap p-2 bg-blue-700 justify-between pr-4" data-controller="navigation-toggle">
    <div class="flex items-center flex-shrink-0 text-white">
      <%= link_to image_tag("logo.png"), root_path %>
    </div>

    <div class="block lg:hidden float-right" data-action="click->navigation-toggle#toggle">
      <button class="flex items-center px-3 py-2 text-white rounded border border-white hover:text-white hover:border-white" >
        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
      </button>
    </div>

    <div class="hidden lg:block w-full block flex-grow lg:flex lg:items-center lg:w-auto text-white" data-target="navigation-toggle.links">
      <div class="lg:flex-grow">
          <%= nav_link_to "Released", movies_path %>
          <%= nav_link_to "Upcoming", filtered_movies_path(:upcoming) %>
          <%= nav_link_to "Recent", filtered_movies_path(:recent) %>
          <%= nav_link_to "Hits", filtered_movies_path(:hits) %>
          <%= nav_link_to "Flops", filtered_movies_path(:flops) %>

        <% if user_signed_in? %>
          <%= nav_link_to "Favourites", favourites_path %>
          <% if current_user.admin? %>
            <%= nav_link_to "Actors", actors_path %>
          <% end %>
        <% end %>
      </div>
      <div class="my-4 sm:my-4">
        <% if user_signed_in? %>
        <ul data-controller="dropdown">
          <li>
            <a data-target="dropdown.toggler" href="javascript:void(0)"role="button" aria-haspopup="true" aria-expanded="true">
            <%= image_tag user_avatar(current_user, 20) %> </a>
            <ul class="hidden" data-target="dropdown.links">
              <li class="list-none px-4 py-2 text-blue-700"><%= link_to "My profile", edit_user_registration_path %></li>
              <li class="list-none px-4 pb-2 text-blue-700"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        </ul>

      <% else %>
        <a href="#" class="inline-block"><%= link_to  "Sign In", new_user_session_path, class: "border-solid border border-white-600 p-2 rounded" %></a>
        <a href="#" class="inline-block"><%= link_to "Sign Up", new_user_registration_path, class: "border-solid border border-white-600 p-2 rounded" %></a>
      <% end %>
      </div>
    </div>
  </nav>
</header>